html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #2f4f4f;
  margin-bottom: 60px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  color: #d3d3d3;
}
nav {
  color: #d3d3d3;
}

.nav-link:hover {
  border: 1px #2f4f4f solid;
}

#message-form {
  width: 80%;
  color: #d3d3d3;
  padding: 1rem;
}

h1 {
  font-weight: 600;
}
.contact-btn {
  background-color: #d3d3d3;
  color: black;
  font-size: 16px;
}