@page
@model Theasbyte.Pages.ServicesModel
@{
    ViewData["Title"] = "Services Offered";
}

<h4 class="text-center py-3">These are the services on offer</h4>
<div class="container-fluid">
<div class="row mt-3 p-2">
    <div class="col-md-6">Mobile Development</div>
    <div class="col-md-6"><img src="~/img/mobile_development.svg" width="400px" alt="mobile_development"></div>
</div>    
<div class="row mt-3 p-2">
    <div class="col-md-6"><img src="~/img/desktop_development.svg" width="400px" alt="desktop_development"></div>
    <div class="col-md-6">Desktop Development</div>
</div>    
<div class="row mt-3 p-2">
    <div class="col-md-6">Web Development</div>
    <div class="col-md-6"><img src="~/img/web_development.svg" width="400px" alt="web_development"></div>
</div>    
</div>